h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Container */
.menu-container {
  width: 90%;
  margin: auto;
  text-align: center;
}

/* Title */
.menu-title {
  color: #27aedb;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Buttons */
.btn-container {
  margin-bottom: 20px;
}

.filter-btn {
  margin: 5px;
  padding: 8px 15px;
  border: 2px solid #27aedb;
  background: transparent;
  color: #27aedb;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}

.filter-btn:hover {
  background: #27aedb;
  color: white;
}

/* Grid Layout */
.section-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Menu Item */
.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 10px;
  background: #f9f9f9;
}

/* Image */
.photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

/* Info */
.item-info header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Price */
.price {
  color: #27aedb;
  font-weight: bold;
}